body {
    background-color: rgb(190, 195, 211);
    margin-top: 20vh;
    transition: background-color 0.5s ease;
}

body:hover {
    background-color: rgb(170, 180, 200);
}

/* IMG-logo */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container div {
    color: white;
}

.container img {
    display: block;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
    animation: fadeIn 1.5s ease-in-out;
}

.img-logo {
    height: 50px;
    width: 50px;
}

/* a */
a:link, a:visited {
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: blue;
    transform: scale(1.1);
}

.img-logo:hover {
    animation: bounce 1s;
}

.bg-inset {
    height: 100%;
    width: 50%;
    background-color: white;
    border: 5px inset;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    animation: expand 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes expand {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}